body{
  font-family: 'Lobster';
  background-color: #78ead3;
  text-align: center;
}

h1{
  font-size: 75px;
  color: white;
  margin: 50px;
}

form{
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  color: gray;
  background-color: #82B1FF;
  display: inline-block;
}

td{
  border: solid grey 1px;
}

.bttn{
  color: gray;
  border: solid grey 1px;
  text-align: center;
  background-color: white;
  font-size: 50px;
  width: 100px;
  height: 100px;
  box-shadow: 0 4px rgba(0,0,0,0.2);
}

.bttn:hover {
  background-color: #FFFF8D;
}

.btn-lg{
  font-size: 25px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 25px;
}
